<div id="newAlbumModal" class="modal blue-grey darken-2">
    <div class="modal-content">
            <h4>Add New Album</h4>
            <div class="row">
            <div class="col-sm-4">
                <input type="text" class="form-control"ng-model="newAlbum.title" placeholder="Album Title"/>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="newAlbum.owner" placeholder="Album Owner"/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer blue-grey darken-2">
        <button class="btn btn-success modal-action modal-close" ng-click="addNewAlbum(newAlbum)">Submit</button>
    </div>
</div>
<div class="container">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <button class="btn-floating btn-large waves-effect waves-light red" ng-click="openModal()"><i class="material-icons">add</i></button>
    </div>
    <div class="add-album" ng-if="editingAlbum">
        <div class="row">
            <div class="col-sm-4">
                <input type="text" class="form-control"ng-model="existingAlbum.title" placeholder="Album Title"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="existingAlbum.owner" placeholder="Album Owner"/>
            </div>
        </div>
        <button class="btn btn-success" ng-show="editingAlbum" ng-click="editAlbum(existingAlbum)">Submit</button>
    </div>
    <div class="row">
            <div class="col s12 m4" ng-repeat="album in albums | filter:$root.searchInput">
                <div ng-click="goToPhotos(album.id)" class="caption">
                    <div class="card z-depth-3 hoverable blue-grey darken-2">
                        <div class="card-content white-text">
                        <span class="card-title">{{album.title}}</span>
                        <div ng-repeat="owner in owners | filter:searchInput" ng-if="album.userId == owner.id">
                                <p ng-model="album.owner">{{owner.name}}</p>
                        </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-danger z-depth-3" ng-click="deleteAlbum(album)">X</button>
                            <button ng-class="{'btn btn-primary z-depth-3': !editingAlbum, 'btn btn-danger z-depth-3': editingAlbum}" ng-click="editingThisAlbum(album)">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>