<header>
        <div class="row header">
            <nav>
                <div class="nav-wrapper">
                    <a ui-sref="albums" class="brand-logo left">Photo World</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a ui-sref="#!/albums">Home</a></li>
                        <li><a ui-sref="albums">Albums</a></li>
                        <a class='dropdown-button btn black' href='#' data-activates='accountDropdown'>Account</a>
                        <ul id='accountDropdown' class='dropdown-content'>
                            <li><a ui-sref="#!/albums">Account info</a></li>
                            <li ng-click="signOut()"><a ui-sref="#!/userLogin">Sign Out</a></li>
                        </ul>
                        <li ng-click="searchToggle = !searchToggle"><i class="material-icons">search</i></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

        <div class="row">
            <input type="text" ng-If="searchToggle" class="search form-control" ng-model="$root.searchInput" placeholder="Search" />
        </div>