<div id="newPhotoModal" class="modal blue-grey darken-2">
        <div class="modal-content">
                <h4>Add New Photo</h4>
                <div class="row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control"ng-model="newPhoto.title" placeholder="Photo Title"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="newPhoto.url" placeholder="Photo URL"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="newPhoto.thumbnailUrl" placeholder="Photo Thumbnail URL"/>
                        </div>
                    </div>
        </div>
        <div class="modal-footer blue-grey darken-2">
            <button class="btn btn-success modal-action modal-close" ng-click="addNewPhoto(newPhoto)">Submit</button>
        </div>
</div>
<div class="container">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <button class="btn-floating btn-large waves-effect waves-light red" ng-click="openModal()"><i class="material-icons">add</i></button>
    </div>
    <div class="add-photo" ng-model="editingPhoto" ng-if="editingPhoto">
        <div class="row">
            <div class="col-sm-4">
                <input type="text" class="form-control"ng-model="existingPhoto.title" placeholder="Photo Title"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="existingPhoto.url" placeholder="Photo URL"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="existingPhoto.thumbnailUrl" placeholder="Photo Thumbnail URL"/>
            </div>
        </div>
        <button class="btn btn-success" ng-show="editingPhoto" ng-click="editPhoto(existingPhoto, $index)">Submit</button>
    </div>
    <div class="row">
            <div class="col s12 m4" ng-repeat="photo in photos | filter:$root.searchInput">
                <div class="card z-depth-3 hoverable small blue-grey darken-2">
                    <div class="card-image" ng-click="isFullScreen = !isFullScreen">
                        <img id="view{{$index}}" ng-src="{{isFullScreen ? photo.url : photo.thumbnailUrl}}">
                        <span class="card-title">{{photo.title}}</span>
                    </div>
                    <div class="card-action">
                        <button class="btn btn-danger z-depth-3" ng-click="deletePhoto(photo)">X</button>
                        <button ng-class="{'btn btn-primary z-depth-3': !editingPhoto, 'btn btn-danger z-depth-3': editingPhoto}" ng-click="editingThisPhoto(photo)">Edit</button>
                    </div>
                </div>
            </div>         
        </div>
</div>