<div class="container">
    <form>
        <div class="login z-depth-5 blue-grey">
                <h4 class="center-align">Sign In</h4>
            <div class="row">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" placeholder="Email" class="form-control" ng-model="email"/>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" placeholder="Password" class="form-control" ng-model="password"/>
                </div>
            
            </div>
            <div class="row">
                <button type="submit" class="btn btn-large btn-block" ng-click="login(email, password)">Sign In
                        <i class="material-icons right"></i>
                </button>
            </div>
            <div class="row center-align">
                <a ui-sref="userSignUp">New here?</a>
                <p>          </p>
                <a ui-sref="#">Forgot your password?</a>
            </div>
        </div>
    </form>
</div>
