<div class="container">
        <form>
            <div class="login z-depth-5 blue-grey">
                <h4 class="center-align">Sign Up</h4>
                <div class="row">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" placeholder="Enter your email" class="form-control" ng-model="email"/>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" placeholder="Choose a Password" class="form-control" ng-model="password"/>
                    </div>
                
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-large btn-block" ng-click="signUp(email, password)">Sign Up
                            <i class="material-icons right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    