/* CSS */
body{
    background-color: grey !important;
}

.card{
    height: 250px !important;
}

.card-action{
    text-align: center;
}

.container{
    width: 100%;
    margin: 10px 0px 0px 0px;
}

nav .nav-wrapper{
    background-color: black !important;
}

#nav-mobile li:hover{
    background-color: rgb(70, 59, 59);
}

.header li{
    padding: 0px 10px 0px 10px;
}

.search{
    width: 85% !important;
    margin: 10px 45px 10px 100px !important;
    padding-left: 10px !important;
    border-radius: 20px !important;
    background-color: white !important;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3) !important;
}
.album-box{
    background-color: white;
    margin: 2px 75px 25px 15px;
    padding: 20px; 
    width: 150px;
    height: 150px; 
    border-radius: 50px;
    border: 2px solid #73AD21;
    text-align: center;
    
}

.photo-box{
    background-color: white;
    margin: 2px 75px 25px 15px;
    padding: 20px; 
    width: 50px;
    height: 250px; 
    text-align: center;
    
}

button.add {
    margin-left: 1120px
}

.add-album{
    margin: -32px 200px 10px 20px !important;
}

.add-photo{
    margin: -2px 200px 200px -100x !important;
}

form div.form-group{
    width: 25% !important;
    margin: auto;
    padding: 10px 0px 10px 0px;
}

form button{
    width: 25% !important;
    margin: auto;
    padding: 10px 0px 10px 0px;
}

.login{
    border: solid;
    border-color: black;
    margin: auto;
    margin-top: 10%;
    width: 550px;
}

.modal{
    max-height: 90% !important;
    width: 40% !important;
}

.preloader-wrapper.big {
    height: 100px !important;
    width: 100px !important;
    margin-left: 50% !important;
}